node_modules
dist
.DS_Store
*.log
.env
node_modules/
node_modules/
node_modules/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

docs/
hydroshare_kg_dataset/
.vercel
.env*
!.env.example
