:root { font-family: Arial, sans-serif; line-height: 1.5; font-weight: 400; color-scheme: light; color: #222; background: #eee; font-synthesis: none; }
html, body { margin: 0; padding: 0; min-height: 100%; }
#root { width: 100%; min-height: 100%; }
